<div fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="row" fxFlexFill fxFlexOffset="20px">
    <div fxFlex="30" fxHide.xs="true"></div>
    <mat-card fxFlex>
      <form [formGroup]="form" (ngSubmit)="submit(form)">
        <mat-card-content fxLayout="column">
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
            <mat-error>{{ getErrorMessage(email) }}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password">
            <mat-error>{{getErrorMessage(password)}}</mat-error>
          </mat-form-field>
          <mat-error>{{credentialsError}}</mat-error>
          <mat-checkbox formControlName="rememberMe">Remember me?</mat-checkbox>
        </mat-card-content>
        <mat-card-actions fxFlexAlign="center">
          <button type="submit" [disabled]="form.status === 'INVALID'" mat-raised-button color="primary">Login</button>
        </mat-card-actions>
      </form>
    </mat-card>
    <div fxFlex="30" fxHide.xs="true"></div>
  </div>
</div>
