<div fxLayout="row" fxLayoutAlign="start stretch">
  <h2 fxFlexAlign="center" fxFlex>Create/Edit Job Ad</h2>

  <mat-icon (click)="onNoClick()" class="icon icon-close" fxFlexAlign="center">close</mat-icon>
</div>

<form [formGroup]="form" fxLayoutAlign="start stretch" fxLayout="column" fxLayoutGap="20px">
  <div fxLayout="row">
    <mat-form-field fxFlex class="form-item" hintLabel="Max 256 characters">
      <input matInput minlength="4" maxlength="256" formControlName="title" placeholder="Title" required>
      <mat-hint align="end">{{title.value.length || 0}}/100</mat-hint>
      <mat-error>{{getErrorMessage(title)}}</mat-error>
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="form-item" hintLabel="Max 16384 characters">
      <textarea matInput minlength="4" maxlength="16384" formControlName="description" [froalaEditor]="editorOptions"></textarea>
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex>
      <mat-select matInput placeholder="Category" formControlName="jobType" required>
        <mat-option *ngFor="let type of jobTypes" [value]="type.id">
          {{type.jobType}}
        </mat-option>
      </mat-select>
      <mat-error>{{getErrorMessage(jobType)}}</mat-error>
    </mat-form-field>
    <mat-form-field fxFlex fxFlexOffset="10%">
      <mat-select matInput placeholder="Status" formControlName="status" required>
        <mat-option value="open">Active</mat-option>
        <mat-option value="closed">Inactive</mat-option>
      </mat-select>
      <mat-error>{{getErrorMessage(status)}}</mat-error>
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-list fxFlex class="form-item">
      <mat-list-item>
        <button [disabled]="title.errors || jobType.errors || status.errors || description.errors" mat-raised-button color="primary" (click)="onSubmit($event)">Submit </button>
      </mat-list-item>
    </mat-list>
  </div>
</form>
