<h2 class="chrome shiny" style="margin-top:50px;">CONTACTS</h2>

<div class="map" fxFlex="100%">
  <agm-map [(latitude)]="lat" [(longitude)]="lng">
    <agm-marker [(latitude)]="lat" [(longitude)]="lng"></agm-marker>
  </agm-map>
</div>
<div fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="column" fxFlexFill fxFlexOffset="5px">
    <div fxFlex="2"></div>
    <div *ngFor="let contact of contacts">
      <mat-card fxFlex>
        <form>
          <mat-card-content fxLayout="column">
            <div>
              <mat-expansion-panel>
                <mat-expansion-panel-header>

                  <mat-panel-title>
                      <mat-icon *ngIf="contact.status === true">map</mat-icon>
                      <mat-icon *ngIf="primaryAddress.id === contact.id">stars</mat-icon> 
                    </mat-panel-title>
                  <mat-panel-description> {{contact.name}} </mat-panel-description>

                </mat-expansion-panel-header>

                <div>
                  <p>{{contact.address}}</p>
                  <p *ngIf="contact.status === true">Longtidue: {{contact.longtitude}}</p>
                  <p *ngIf="contact.status === true">Latitude: {{contact.latitude}}</p>
                  <button *ngIf="contact.status === true" mat-raised-button (click)="changeMap(contact.longtitude, contact.latitude)">View address</button>
                </div>

              </mat-expansion-panel>
            </div>

          </mat-card-content>
        </form>
      </mat-card>
    </div>
  </div>
</div>