<div fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="row" fxFlexFill fxFlexOffset="20px">
    <div fxFlex="30"></div>
    <mat-card fxFlex>
      <form [formGroup]="form" (ngSubmit)="edit()">
        <mat-card-content fxLayout="column">

          <mat-form-field>
            <input type="text" matInput placeholder="Name" formControlName="name" [(value)]="nameVal">
            <mat-error>{{ getErrorMessage(name, 'name') }}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input type="text" matInput placeholder="Map address" formControlName="address" [(value)]="addressVal">
            <mat-error>{{ getErrorMessage(address, 'address') }}</mat-error>
          </mat-form-field>

          <mat-checkbox formControlName="isNotMapAddess" (click)="childchangeVisibility()">Do you want to hide this contact's map address?</mat-checkbox>

          <mat-expansion-panel *ngIf="!isHidden" hideToggle="true">
            <mat-expansion-panel-header>

              <mat-panel-title> Address </mat-panel-title>
              <mat-panel-description> Open map inputs
                <br>
                <mat-icon>map</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
              <input type="text" matInput placeholder="Longtitude" formControlName="longtitude" [(value)]="longtitudeVal">
              <mat-error *ngIf="form.controls.longtitude.touched">This field is required!</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input type="text" matInput placeholder="Latitude" formControlName="latitude" [(value)]="latitudeVal">
              <mat-error *ngIf="form.controls.latitude.dirty">This field is required!</mat-error>
            </mat-form-field>

          </mat-expansion-panel>

        </mat-card-content>
        <mat-card-actions fxFlexAlign="center">
          <button [disabled]="form.status === 'INVALID'" mat-raised-button color="primary">Edit</button>
        </mat-card-actions>
      </form>
    </mat-card>
    <div fxFlex="30"></div>
  </div>
</div>