<div class="container navbar">
  <div fxLayout="row" fxShow fxHide.xs="true" fxLayoutAlign="start">
    <img class="logo" src="assets/logo.png" [routerLink]="['/home']">
    <button mat-raised-button [routerLink]="['/jobs']" routerLinkActive="active" fxFlexAlign="start">Careers</button>
    <button mat-raised-button [routerLink]="['/contacts']" routerLinkActive="active" fxFlexAlign="start">Contacts</button>
    <div class="separator" *ngIf="authService.isAdmin()"></div>

    <button mat-raised-button fxFlexAlign="start" *ngIf="authService.isAdmin()" [matMenuTriggerFor]="menuWide">
      <mat-icon>reorder</mat-icon>
      <span>Admin Menu</span>
    </button>
    <mat-menu #menuWide="matMenu" fxLayout="column">
      <button mat-raised-button [routerLink]="['/admin/jobs']" routerLinkActive="active">
        <mat-icon>work</mat-icon>
        <span>Job Ads</span>
      </button>

      <button mat-raised-button [routerLink]="['admin/users']">
        <mat-icon>people</mat-icon>
        <span>Users</span>
      </button>

      <button mat-raised-button [routerLink]="['admin/btn']">
        <mat-icon>link</mat-icon>
        <span>Dynamic Links</span>
      </button>

      <button mat-raised-button [routerLink]="['admin/contacts']">
        <mat-icon>room</mat-icon>
        <span>Contacts</span>
      </button>

    </mat-menu>

    <div fxFlex></div>
    <p class="email" *ngIf="authService.isAuthenticated()">{{user?.email}}</p>
    <button mat-raised-button *ngIf="!authService.isAuthenticated()" [routerLink]="['/users/register']" routerLinkActive="active"
      fxFlexAlign="end">Register</button>
    <button mat-raised-button *ngIf="!authService.isAuthenticated()" [routerLink]="['/users/login']" routerLinkActive="active"
      fxFlexAlign="end">Login</button>
    <button mat-raised-button *ngIf="authService.isAuthenticated()" (click)="logout()" fxFlexAlign="start">Logout</button>
  </div>
  <mat-accordion fxHide fxShow.xs="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          The Chocolate Company
        </mat-panel-title>
        <img class="logo" src="assets/logo.png">
      </mat-expansion-panel-header>

      <div fxLayout="column" fxLayoutAlign="start">
        <button mat-raised-button [routerLink]="['/jobs']" routerLinkActive="active" fxFlexAlign="start">Careers</button>
        <button mat-raised-button [routerLink]="['/contacts']" routerLinkActive="active" fxFlexAlign="start">Contacts</button>
        <div class="separator" *ngIf="authService.isAdmin()"></div>

        <button mat-raised-button *ngIf="authService.isAdmin()" [matMenuTriggerFor]="menuAccordion">
          <mat-icon>reorder</mat-icon>
          <span>Admin Menu</span>
        </button>
        <mat-menu #menuAccordion="matMenu" fxLayout="column">
          <button mat-raised-button [routerLink]="['/admin/jobs']" routerLinkActive="active">
            <mat-icon>work</mat-icon>
            <span>Job Ads</span>
          </button>
          <button mat-raised-button [routerLink]="['admin/users']">
            <mat-icon>people</mat-icon>
            <span>Users</span>
          </button>
          <button mat-raised-button [routerLink]="['admin/btn']">
            <mat-icon>link</mat-icon>
            <span>Dynamic Links</span>
          </button>
        </mat-menu>

        <p class="email">{{user?.email}}</p>
        <div id="register">
          <button mat-raised-button *ngIf="!authService.isAuthenticated()" [routerLink]="['/users/register']" routerLinkActive="active"
           class="shape">Register</button>
        </div>
        <div id="login">
          <button mat-raised-button *ngIf="!authService.isAuthenticated()" [routerLink]="['/users/login']" routerLinkActive="active"
          >Login</button>
        </div>
        <button mat-raised-button *ngIf="authService.isAuthenticated()" (click)="logout()">Logout</button>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
</div>