.active {
    background-color: rgba(103,58,183,0.12);
}

.separator {
    border-left: 1px #673ab7 solid;
    margin: 0 5px;
}

button {
    margin: 0 5px;
}

.email {
  align-self: center;
  margin: 0;
}
