<div class="container">
  <div fxLayout fxLayoutAlign="start stretch">
    <button mat-button color="primary" [routerLink]="['/home']" routerLinkActive="active" fxFlexAlign="start">Home</button>
    <button mat-button color="primary" [routerLink]="['/jobs']" routerLinkActive="active" fxFlexAlign="start">Careers</button>
    <button mat-button color="primary" [routerLink]="['/contacts']" routerLinkActive="active" fxFlexAlign="start">Contacts</button>
    <div class="separator" *ngIf="authService.isAdmin()"></div>
    <button mat-button color="primary" *ngIf="authService.isAdmin()" [routerLink]="['/jobs/admin']" routerLinkActive="active" fxFlexAlign="start">Job Ads</button>
    
    <div fxFlex></div>
    <button mat-button color="primary" *ngIf="!authService.isAuthenticated()" [routerLink]="['/users/register']" routerLinkActive="active"
      fxFlexAlign="end">Register</button>
    <button mat-button color="primary" *ngIf="!authService.isAuthenticated()" [routerLink]="['/users/login']" routerLinkActive="active"
      fxFlexAlign="end">Login</button>
    <button mat-button color="primary" *ngIf="authService.isAuthenticated()" (click)="logout()" fxFlexAlign="end">Logout</button>
  </div>
</div>
