<div class="container navbar">
  <div fxLayout="row" fxShow fxHide.xs="true" fxLayoutAlign="start stretch">
    <img class="logo" src="assets/logo.png" [routerLink]="['/home']">
    <button mat-button color="primary" [routerLink]="['/jobs']" routerLinkActive="active">Careers</button>
    <button mat-button color="primary" [routerLink]="['/contacts']" routerLinkActive="active">Contacts</button>
    <div class="separator" *ngIf="authService.isAdmin()"></div>

    <button mat-button *ngIf="authService.isAdmin()" color="primary" [matMenuTriggerFor]="menuWide">
      <mat-icon>reorder</mat-icon>
      <span>Admin Menu</span>
    </button>
    <mat-menu #menuWide="matMenu" fxLayout="column" fxLayoutAlign="stretch">
      <button fxFlexFill mat-button color="primary" [routerLink]="['/admin/jobs']" routerLinkActive="active">
        <mat-icon>work</mat-icon>
        <span>Job Ads</span>
      </button>
      <button fxFlexFill mat-button color="primary" [routerLink]="['admin/users']" routerLinkActive="active">
        <mat-icon>people</mat-icon>
        <span>Users</span>
      </button>
      <button fxFlexFill mat-button color="primary" [routerLink]="['admin/btn']" routerLinkActive="active">
        <mat-icon>link</mat-icon>
        <span>Dynamic Links</span>
      </button>
      <button fxFlexFill mat-button color="primary" [routerLink]="['admin/contacts']" routerLinkActive="active">
        <mat-icon>room</mat-icon>
        <span>Contacts</span>
      </button>
    </mat-menu>

    <div fxFlex fxHide.sm="true"></div>
    <button mat-button color="primary" *ngIf="user?.email" [matMenuTriggerFor]="userMenu">
      <span fxFlexFill class="email">{{user?.email}}</span>
    </button>
    <mat-menu #userMenu="matMenu" fxLayout="row" fxLayoutAlign="center stretch" >
      <button mat-button color="primary" *ngIf="authService.isAuthenticated()" (click)="logout()" fxFlexFill>Logout</button>
    </mat-menu>
    <button mat-button color="primary" *ngIf="!authService.isAuthenticated()" [routerLink]="['/users/register']" routerLinkActive="active">Register</button>
    <button mat-button color="primary" *ngIf="!authService.isAuthenticated()" [routerLink]="['/users/login']" routerLinkActive="active">Login</button>
  </div>
  <mat-accordion fxHide fxShow.xs="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          The Chocolate Company
        </mat-panel-title>
        <img class="logo" src="assets/logo.png">
      </mat-expansion-panel-header>

      <div fxLayout="column" fxLayoutAlign="start">
        <button fxFlexFill mat-button color="primary" [routerLink]="['/jobs']" routerLinkActive="active">Careers</button>
        <button fxFlexFill mat-button color="primary" [routerLink]="['/contacts']" routerLinkActive="active">Contacts</button>
        <div class="separator" *ngIf="authService.isAdmin()"></div>

        <button fxFlex mat-button color="primary" *ngIf="authService.isAdmin()" [matMenuTriggerFor]="menuAccordion">
          <mat-icon>reorder</mat-icon>
          <span>Admin Menu</span>
        </button>
        <mat-menu #menuAccordion="matMenu" fxLayout="column">
          <button fxFlex mat-button color="primary" [routerLink]="['/admin/jobs']" routerLinkActive="active">
            <mat-icon>work</mat-icon>
            <span>Job Ads</span>
          </button>
          <button fxFlex mat-button color="primary" [routerLink]="['admin/users']" routerLinkActive="active">
            <mat-icon>people</mat-icon>
            <span>Users</span>
          </button>
          <button fxFlex mat-button color="primary" [routerLink]="['admin/btn']" routerLinkActive="active">
            <mat-icon>link</mat-icon>
            <span>Dynamic Links</span>
          </button>
          <button mat-button color="primary" [routerLink]="['admin/contacts']" routerLinkActive="active">
            <mat-icon>room</mat-icon>
            <span>Contacts</span>
          </button>
        </mat-menu>

        <div fxLayout="row">
          <p fxFlex class="email" *ngIf="authService.isAuthenticated()">{{user?.email}}</p>
          <button fxFlex mat-button color="primary" *ngIf="!authService.isAuthenticated()" [routerLink]="['/users/register']" routerLinkActive="active"
            fxFlex="50">Register</button>
          <button fxFlex mat-button color="primary" *ngIf="!authService.isAuthenticated()" [routerLink]="['/users/login']" routerLinkActive="active"
            fxFlex="50">Login</button>
          <button fxFlex mat-button color="primary" *ngIf="authService.isAuthenticated()" (click)="logout()" fxFlexAlign="start">Logout</button>
        </div>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
</div>
