<div class="container" fxLayout="row">
  <div fxFlex="10"></div>
  <mat-card fxFlex fxLayout="column wrap" fxLayoutGap.xs="10px">
    <div fxLayout="row" fxLayout.xs="column">
      <div fxLayout="column" fxLayoutAlign="space-evenly start" fxFlex="50%" fxFlex.xs="100">
        <mat-card-header>
          <mat-card-title>{{job?.title}}</mat-card-title>
          <mat-card-subtitle>Created at: {{ job?.createdAt | date:'dd/MM/yyyy' }}</mat-card-subtitle>
          <mat-card-subtitle>Category: {{ job?.JobType.jobType }}</mat-card-subtitle>
        </mat-card-header>
      </div>
      <div class="button-row" fxFlex.xs="100" fxLayout="column" fxLayout.xs="row" fxLayoutAlign.xs="start center" fxLayoutGap.xs="10px"
        fxFlex="50%" fxLayoutAlign="space-evenly end">
        <button [routerLink]="['apply']" mat-raised-button color="primary">Apply</button>
        <button *ngIf="authService.isAdmin()" [routerLink]="['/admin', 'jobs', job?.id, 'applications']" mat-raised-button color="primary">Applications</button>
      </div>
    </div>
    <div fxLayout="column" fxFlex.xs fxLayoutGap="10px">
      <mat-divider></mat-divider>
      <mat-card-content fxFlexFill [innerHTML]="job?.description" class="content">
      </mat-card-content>
    </div>
  </mat-card>
  <div fxFlex="10"></div>

</div>
