<div fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="row" fxFlexFill fxFlexOffset="20px">
    <div fxFlex="30"></div>
    <mat-card fxFlex>
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <mat-card-content fxLayout="column">
          <mat-form-field>
            <input type="text" matInput placeholder="Username" formControlName="username">
            <mat-error>{{ getErrorMessage(username, 'username') }}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="email" matInput placeholder="Email" formControlName="email">
            <mat-error>{{ getErrorMessage(email, 'email') }}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password">
            <mat-error>{{ getErrorMessage(password, 'password') }}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="password" matInput placeholder="Confirm password" formControlName="password2">
            <mat-error>{{ getErrorMessage(password2, 'password2') }}</mat-error>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions fxFlexAlign="center">
          <button [disabled]="registerForm.status === 'INVALID'" mat-raised-button color="primary">Register</button>
        </mat-card-actions>
      </form>
    </mat-card>
    <div fxFlex="30"></div>
  </div>
</div>