.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.createBtn,
.filter {
  width: 100%;
  margin-bottom: 8.9px;
}

.filter {
  text-align: center;
}

h3 {
  width: 100%;
  text-align: center;
}

.mat-column-applications,
.mat-column-createdAt {
  max-width: 124px;
}

.icon:hover {
  cursor: pointer;
}
