.icon {
  cursor: pointer;
}

.icon-cv,
.icon-coverLetter {
  color: #3b74e5;
}
.icon-coverLetter.inactive {
  color: #dcdcdc;
  cursor: not-allowed;
}

.mat-column-id {
  max-width: 84px;
}

.mat-column-cv,
.mat-column-coverLetter {
  max-width: 44px;
  text-align: center;
}

.mat-column-createdAt {
  max-width: 94px;
}

.mat-column-name {
  max-width: 164px;
}

.mat-column-email {
  max-width: 184px;
}

.mat-row:hover {
  background-color: #f8f8f8;
}

mat-table {
  min-height: inherit !important;
}

.mail-link {
  text-decoration: none;
  color: inherit;

}

.mail-link:hover {
  color: #673ab7;
}
