<div class="container">
  <mat-card fxLayout="row wrap">
    <div fxFlex="50%" fxLayoutAlign="start center">
      <mat-card-header>
        <mat-card-title>{{job.title}}</mat-card-title>
        <mat-card-subtitle>Created at: {{ job.createdAt }}</mat-card-subtitle>
      </mat-card-header>
    </div>
    <div class="button-row" fxFlex="50%" fxLayoutAlign="end center">
      <button [routerLink]="['apply']"mat-raised-button color="primary">Apply</button>
    </div>

    <div fxLayout="row wrap">
      <mat-card-content>
        <p>
          {{ job.description }}
        </p>
      </mat-card-content>
    </div>
  </mat-card>
</div>
