<div class="container"  fxLayout="row"> 
  <div fxFlex="20"></div>
  <mat-card fxFlex fxLayout="row wrap">
    <div fxFlex="50%" fxLayoutAlign="start center">
      <mat-card-header>
        <mat-card-title>{{job?.title}}</mat-card-title>
        <mat-card-subtitle>Created at: {{ job?.createdAt | date:'dd/MM/yyyy' }}</mat-card-subtitle>
        <mat-card-subtitle>Category: {{ job?.JobType.jobType }}</mat-card-subtitle>
      </mat-card-header>
    </div>
    <div class="button-row" fxFlex="50%" fxLayoutAlign="end center">
      <button [routerLink]="['apply']"mat-raised-button color="primary">Apply</button>
    </div>

    <div fxLayout="row wrap">
      <mat-card-content [innerHTML]="job?.descriptionUrl" >
      </mat-card-content>
    </div>
  </mat-card>
  <div fxFlex="20"></div>
  
</div>
