/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~dropzone/dist/min/dropzone.min.css';
/* .cdk-global-overlay-wrapper {
    align-items: unset !important;
}

.mat-dialog-container {
    min-height: 10%;
    max-height: 80%;
    margin-top: 10%;
} */

.cdk-global-overlay-wrapper {
  overflow-y: scroll;
}

.cdk-global-overlay-wrapper > div {
  max-height: 100%;
}

.admin-dialog {
  width: 100%;
}

.container {
  margin-top: 10px;
}

.mat-menu-content {
  width: 200px;
}

.mat-menu-content .mat-button {
  text-align: left;
}
