<div class="container">
  <video *ngIf="backgroundImg?.includes('.mp4'); else image" autoplay loop muted="true" poster="" class="video">
    <source [src]="'assets/' + backgroundImg" type="video/mp4" />
  </video>
  <ng-template #image>
    <div class="img" [ngStyle]="{'background': 'url(assets/' + backgroundImg + ') no-repeat center center fixed'}">
    </div>
  </ng-template>
  <div fxLayout="row">
    <div fxFlex="10"></div>
    <div class="content" fxLayout="column" fxLayoutGap="20px">
      <div class="buttons" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between start" fxLayoutGap="20px">
        <div fxFlex class="action-buttons">
          <div fxLayout="row">
            <div *ngFor="let action of actionButtons">
              <button mat-button color="primary" *ngIf="!action.isHidden" (click)="onRedirect(action.target)">
                <mat-icon>{{action.link}}</mat-icon>
                {{ action.name }}</button>
            </div>
          </div>
        </div>
        <div fxFlex class="social-buttons">
          <div fxLayout="row">
            <div *ngFor="let social of socialButtons">
              <button mat-button color="primary" *ngIf="!social.isHidden" (click)="onRedirect(social.target)">
                <mat-icon>{{social.link}}</mat-icon>
                {{ social.name }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="social" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between start" fxLayoutGap="20px">
        <div fxFlex="70" fxLayout="column">
          <mat-card fxFlex>
            <mat-card-content>
              <div>
                <p class="text" [innerHTML]="textFirst"></p>
              </div>
              <mat-divider *ngIf="textSecond"></mat-divider>
              <div *ngIf="textSecond">
                <p class="text" [innerHTML]="'<br>' + textSecond"></p>
              </div>
            </mat-card-content>
          </mat-card>

        </div>
        <div fxFlex [ngStyle.sm]="{'width.%': 100}" [ngStyle.xs]="{'width.%': 100}" fxLayout="column" fxLayoutAlign="space-between center">
          <mat-card fxFlex [ngStyle.sm]="{'width.%': 100}" [ngStyle.xs]="{'width.%': 100}">
            <mat-card-content fxLayout="column" fxLayoutAlign="space-between center">
              <iframe [src]="getSocialUrl()" width="340" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                allowTransparency="true" allow="encrypted-media"></iframe>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div fxFlex="10"></div>
  </div>
</div>
